@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.modal-button {
  margin: 5px;
  min-width: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #f4f4f4;

  &:hover {
    background-color: black;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
  }

}
