@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
.basket-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #d2d1cf;
}
.basket-title-wrapper{
  text-align: center;
  border-bottom: 1px solid #d2d1cf;;
}
.basket-items{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 400px;

  .card {
    width: 200px;

    .card-img{
      width: 200px;
    }
    .card-button{
     display: flex;
      top: -261px;
      right: 14px;
    }
  }

}
.basket-title {
  font-family: Montserrat;
  font-weight: 700;
}
.empty-title{
  display: flex;
  justify-content: center;
  margin-top: 170px;
}
.empty-title{
  font-family: Montserrat;
  font-weight: 700;
}

