@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 29;
}

.modal-container {
  position: absolute;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 30;
  color: white;

}

.modal-header {
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.modal-close {
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: black;
  background-color: white;
}
.modal-content {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.modal-title{
  font-family: Montserrat;
  font-weight: 500;
  padding-left: 100px;
}

.modal-btns{
  margin-top: 50px;
  margin-bottom: 30px;
}
