.header-wrapper{
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 15px;
}
.header-icons-container{
  display: flex;
  justify-content: space-between;

}
.site-logo{
  width: 170px;
  padding-left: 20px;
  padding-top: 10px;

}
.header-right {
  display: flex;
  padding-top: 10px;
  width: 80px;
  justify-content: space-between;
  margin-right: 20px;

}
.header-icons{
  width: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px;
  padding-right: 10px;
}
.favourite-img{
  width: 30px;
}
.favourite-count{
  text-align: center;
  background-color: white;
  width: 20px;
  border-radius: 10px;
  font-size: x-small;
  position: absolute;
  top: 21px;
  right: 73px;
}
.basket-img{
  width: 30px;
}
.basket-count {
  text-align: center;
  background-color: white;
  width: 20px;
  border-radius: 10px;
  font-size: x-small;
  position: absolute;
  top: 21px;
  right: 24px;
}